# SPDX-FileCopyrightText: 2026 Contributors to ddcutil-varlink <https://github.com/digitaltrails/ddcutil-varlink>
# SPDX-License-Identifier: GPL-2.0-or-later
[Unit]
Description=ddcutil Varlink Service Socket

[Socket]
ListenStream=%t/ddcutil-varlink.socket
SocketMode=0600

[Install]
WantedBy=sockets.target
