# SPDX-FileCopyrightText: 2026 Contributors to ddcutil-varlink <https://github.com/digitaltrails/ddcutil-varlink>
# SPDX-License-Identifier: GPL-2.0-or-later
[Unit]
Description=ddcutil Varlink Service
Requires=ddcutil-varlink.socket
After=ddcutil-varlink.socket

[Service]
Type=simple
ExecStart=/usr/bin/ddcutil-varlink
Environment=RUST_LOG=info

[Install]
WantedBy=default.target
